<div>
    <h2 data-translate="issueTrackerApp.issue.home.title">Issues</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="issue.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="issueTrackerApp.issue.home.createLabel">
                        Create new Issue
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'issueTrackerApp.issue.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="issueTrackerApp.issue.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="issueTrackerApp.issue.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created"><span data-translate="issueTrackerApp.issue.created">Created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="issueTrackerApp.issue.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priority"><span data-translate="issueTrackerApp.issue.priority">Priority</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attachment"><span data-translate="issueTrackerApp.issue.attachment">Attachment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span data-translate="issueTrackerApp.issue.comment">Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originator.id"><span data-translate="issueTrackerApp.issue.originator">Originator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assignee.id"><span data-translate="issueTrackerApp.issue.assignee">Assignee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issue in vm.issues track by issue.id">
                    <td><a ui-sref="issue-detail({id:issue.id})">{{issue.id}}</a></td>
                    <td>{{issue.name}}</td>
                    <td>{{issue.description}}</td>
                        <td>{{issue.created | date:'mediumDate'}}</td>
                    <td data-translate="{{'issueTrackerApp.State.' + issue.state}}">{{issue.state}}</td>
                    <td data-translate="{{'issueTrackerApp.Priority.' + issue.priority}}">{{issue.priority}}</td>
                    <td>
                        <a ng-if="issue.attachment" ng-click="vm.openFile(issue.attachmentContentType, issue.attachment)" data-translate="entity.action.open">open</a>
                        <span ng-if="issue.attachment">{{issue.attachmentContentType}}, {{vm.byteSize(issue.attachment)}}</span>
                    </td>
                    <td>{{issue.comment}}</td>
                    <td>
                        {{issue.originator.id}}
                    </td>
                    <td>
                        {{issue.assignee.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="issue-detail({id:issue.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="issue.edit({id:issue.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="issue.delete({id:issue.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
